<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .mystyle{
            width: 100px;
            height: 100px;
            background-color: #ff0000;
        }
    </style>
</head>
<body>
    <p th:text="${aa}">
        원래 문자열 입니다.
    </p>
    <div th:each="name:${alist}">
        [[${name}]]
    </div>
    <div th:if="${myfalse}">
        true면 나옴니다.
    </div>
    <div th:classappend="${mytrue} ? 'mystyle' : 'notmystyle'"></div>

    <div th:replace="footer::copy"></div>

    <script>
        const test = [[${mya}]];
        console.log(test);
    </script>
</body>
</html>